.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 40rem;
    background-color: white;
}

h2 {
    font-size: 4rem;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 1rem;
}

form,
form>* {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    border-bottom: 2px solid purple;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    font-size: 1.6rem;
    padding: 7px;
    text-align: right;
    width: 21rem;
}

input {
    font-size: 1.6rem;
    padding: 7px;
    text-align: right;
    width: 20rem;
}

.btn {
    margin: 5px 0;
    background-color: rgb(222, 33, 194);
    color: #ffff;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: orangered;
}

.error {
    color: red;
    display: none;
}

.result {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.result>* {
    background-color: rgb(201, 196, 196);
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.total {
    color: red;
}