body {
    background-color: rgb(229, 233, 38);
}

.container {
    width: 700px;
    display: flex;
    height: 100vh;
    margin: 0 auto;
}

.app {
    margin: auto;
    min-height: 400px;
    background-color: #ffff;
    min-width: 500px;
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: orange;
    padding: 13px;
    color: #ffff;
}

form div {
    display: flex;
    padding: 10px 10px 3px 10px;
    justify-content: space-between;
    border-bottom: 1px solid purple;
    width: 90%;
    margin: 10px auto;
}

form label {
    font-size: 25px;
}

.saskaita {
    margin-bottom: 10px;
    width: 250px;
    font-size: 25px;
    text-align: rightf;
}

.rates {
    font-size: 25px;
    width: 260px;
    margin-bottom: 10px;
}

button {
    width: 95%;
    display: block;
    background-color: rgb(247, 4, 187);
    padding: 13px 50px;
    margin: 0 auto;
    font-size: 30px;
    color: #ffff;
    border: none;
    outline: none;
}

.error {
    text-align: center;
    font-size: 30px;
    display: none;
}

.results {
    margin: 10px;
}

.tip {
    background-color: grey;
    padding: 15px;
    color: #fff;
    font-size: 30px;
}

.total {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    background-color: grey;
}

.myWallet {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    background-color: grey;
}

.myWalletAfterPayment {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    background-color: rgb(123, 12, 12);
}
